<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
	<appSettings>
		<add key="sender" value="rtest1-10@wm-e2016.wm.zhu.cn.qsft"/>
		<add key="recipients" value="test@test.com;test1@test.com"/>
		<add key="credential_user" value="rtest10@wm-e2016.wm.zhu.cn.qsft"/>
		<add key="credential_password" value="I@mroot"/>
		<add key="smtp_server" value="wm-e2016-mb1.wm-e2016.wm.zhu.cn.qsft"/>
		<add key="ssl" value="true"/>
		<add key="port" value="587"/>
	</appSettings>
</configuration>